<%- include("partials/header.ejs") %>

<link rel="stylesheet" href="styles/mainbl.css" style="background: lavender;">


<h1>Select from your favourite topic:</h1>
<ul>
    <li>Sports</li>
    <li>Politics</li>
    <li>Productivity</li>
    <li>Time Management</li>
    <li>Health</li>
    <li>Food</li>
    <li>Medicine</li>
    <li>Science</li>
    <li>Philosophy</li>
</ul>

<%- include("partials/footer.ejs") %>